/* HomePage.css */
.homePage {
    display: grid, flex;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  .homePageContainer{
    background-color: aquamarine;
  }
  
  .homePage h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .appHeader {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appHeader h1 {
    margin: 0;
}

.appHeader nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.appFooter {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
